@page
@model WebApp.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["currentPage"] = "createEvent";
}


<div class="row rik-banner-bg-color">
    <div class="col-4 ">
        <h1 class="fs-3 pt-3 text-white fw-lighter">Ürituse lisamine</h1>
    </div>
    <div class="col p-0" style="height: 75px; overflow: hidden;">
        <img src="/images/libled.jpg">
    </div>
</div>

<div class="row bg-white">
    
    <div class="container text-start" style="width: 750px">
        <h2 class="m-2 p-1 mt-3 mb-4 fs-4 fw-light rik-text-color">Ürituse lisamine</h2>
        
        <form method="post" class="text-start mb-5">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row m-1">
                <label asp-for="Event.Name" class="col-sm-2 col-form-label"></label>
                <div class="col">
                    <input asp-for="Event.Name" class="form-control"/>
                    <span asp-validation-for="Event.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-1">
                <label asp-for="Event.EventStartTime" class="col-sm-2 col-form-label"></label>
                <div class="col">
                    <input asp-for="Event.EventStartTime" class="form-control" placeholder="pp-kk-aaaa, hh: ss"/>
                    <span asp-validation-for="Event.EventStartTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row m-1">
                <label asp-for="Event.Place" class="col-sm-2 col-form-label"></label>
                <div class="col">
                    <input asp-for="Event.Place" class="form-control"/>
                    <span asp-validation-for="Event.Place" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row m-1">
                <label asp-for="Event.Comment" class="col-sm-2 col-form-label"></label>
                <div class="col">
                    <textarea asp-for="Event.Comment" rows="7" class="form-control"> </textarea>
                    <span asp-validation-for="Event.Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col mx-3">
                    <a href="../Index" class="btn btn-secondary" role="button">Tagasi</a>
                    <input type="submit" value="Lisa" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
