@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model WebApp.Pages.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
    ViewData["currentPage"] = "";
}

<div class="row bg-white">
<div>
    <div class="row rik-banner-bg-color">
        <div class="col-4 ">
            <h1 class="fs-3 pt-3 text-white fw-lighter">Ürituse kustutamine</h1>
        </div>
        <div class="col p-0" style="height: 75px; overflow: hidden;">
            <img src="/images/libled.jpg">
        </div>
    </div>
    <div class="row justify-content-md-center pt-4 py-5">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <h1 class="rik-text-color fs-4 fw-light">Kindel, et tahad ürituse kustutada?</h1>
            <div class="form-group row">
                <label asp-for="Event.Name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 px-0">
                    <input type="text" readonly class="form-control-plaintext " value="@Model.Event.Name">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Event.Place" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 px-0">
                    <input type="text" readonly class="form-control-plaintext " value="@Model.Event.Place">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Event.EventStartTime" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 px-0">
                    <input type="text" readonly class="form-control-plaintext " value="@Model.Event.EventStartTime.ToString("dd.MM.yyyy")"/>
                </div>
            </div>
            
            <form method="post" class="my-4">
                    <input type="hidden" asp-for="Event.Id" />
                    <a href="../Index" class="btn btn-secondary" role="button">Tagasi</a>
                        <input type="submit" value="Kustuta" class="btn btn-danger" />
                </form>
            </div>




        </div>
    </div>
    </div>

