<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>
<body class="rik-bg-color" >
<header>
    <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">WebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Events/Index">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Participants/Index">Participants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Events/Create">Loo üritus</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://localhost:5013/Events/AddParticipants?id=b8654796-9269-4eb6-bdd9-fd225424c282">TEST</a>
                    </li>
                             
                </ul>
            </div>
        </div>
    </nav>
    
    -->
    <nav class="container bg-white py-0 my-3 mb-3 ">
        <div class="row g-0">
            <div class="col">
                <a asp-page="/Index">
                <img class="py-4" src="/images/logo.svg" alt="Company logo spelled 'NULLAM'"/>
                </a>
            </div>
            <div class="col gap-0">
                <a asp-page="/Index" class="text-decoration-none">
                    <button class="rik-btn rik-btn-primary">AVALEHT</button>
                </a>
                <a asp-page="/Events/Create">
                    <button class="rik-btn ">ÜRITUSE LISAMINE</button>
                    @{
                            /*
                             * @( ViewData["currentPage"]!.Equals("createEvent") ? "rik-btn-primary" : "" )
                             */
                        }
                </a>
            </div>
            <div class="col text-end py-3">
                <img src="/images/symbol.svg" alt="Company symbol"/>
            </div>
        </div>
    </nav>
</header>
<div class="container" >
    <main role="main" >
        @RenderBody()
    </main>
    
    
    
</div>

<div class="container px-0 my-5">

  <footer class="rik-bg-footer text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-decoration-none">Curabitur</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white text-decoration-none"><i class="fas fa-book fa-fw fa-sm me-2"></i>Fmauris</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none"><i class="fas fa-book fa-fw fa-sm me-2"></i>Kfringilla</a>
            </li>
              <li>
                  <a href="#!" class="text-white text-decoration-none"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Oin magna sem</a>
              </li>
              <li>
                            <a href="#!" class="text-white text-decoration-none"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Kelementum</a>
                          </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Fusce</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white text-decoration-none"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Econsectetur</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none"><i class="fas fa-backspace fa-fw fa-sm me-2"></i>Ksollicitudin</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Omvulputate</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none"><i class="far fa-file-alt fa-fw fa-sm me-2"></i>Nunc fringilla tellu</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Kontakt</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white text-decoration-none"><strong>Peakontor: Tallinnas</strong></a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Väike- Ameerika 1, 11415 Tallinn</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Telefon: 605 4450</a>
            </li>
            <li>
              <a href="#!" class="text-white text-decoration-none">Faks: 605 3186</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

            <ul class="list-unstyled">
                
                <li>
                    <a href="#!" class="text-white text-decoration-none"><i class="fas fa-at fa-fw fa-sm me-2"></i>Harukontor: Vörus</a>
                </li>
                <li>
                    <a href="#!" class="text-white text-decoration-none"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>Oia tn 7 (külastusaadress)</a>
                </li>
                <li>
                    <a href="#!" class="text-white text-decoration-none"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Telefon: 605 3330</a>
                </li>
                <li>
                    <a href="#!" class="text-white text-decoration-none"><i class="fas fa-envelope fa-fw fa-sm me-2"></i>Faks: 605 3155</a>
                </li>

            </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>

</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>